
body {
    background-color: black;
    text-align: center;
	color: aliceblue;
}

#container nav {
	overflow-y: auto;
	display: flex;
	/* float: left; */
	position:fixed;
	bottom: 0;
	width: 100%;
}

img {
	width: 130px;
	height: auto;
	margin-top: 8px;
	margin-right: 15px;
    margin-bottom: 8px;
	border-radius: 5%;
}

img:hover {
	box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
	-webkit-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
	-moz-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
}

.genreButton img:hover {
	filter: drop-shadow(0 0 0 0.75rem white);
}

/* span {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
span:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}
span:active {
	position:relative;
	top:1px;
} */

/* h1 {
    text-align: center;
} */

